*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    font-family: "Lato", sans-serif;
}

.wrapper{
    width: 1020px;
    margin: 0 auto;
}

/*GET A QUOTE*/
.quote-container{
    width: 1020px;
    height: 642px;
    background-color: #f06c64;
    color: #f0d8d9;
    border-bottom: solid 6px #ea676b;
}

.quote-container h2,p{
    margin-left: 40px;
    padding-top: 20px;
}

.quotes{
    margin-left: 40px;
    margin-right: 40px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
}

.layout-2-columns{
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
  
}


.quote-contact input{
    border-radius: 5px;
    border: none;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left; 
    margin-top: 10px;
    width: 619px;
    height: 38px;

}

.quote-contact input::placeholder{
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left; 
    padding-left: 20px;
}

.quote-contact textarea{
    border-radius: 5px;
    border: none;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left; 
    margin-top: 10px;
    width: 619px;
    height: 202px;
}

.quote-contact textarea::placeholder{
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left; 
    padding-left: 20px;
    padding-top: 10px;
}

#submit{
    width: 100px;
    font-size: 16px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: center; 
}

.quote-contact h4{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.quote-contact .text {
    margin-left: 20px;
    width: 300px;
    height: 175px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
}

.quote-contact .info{
    margin-left: 20px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}