*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    font-family: "Lato", sans-serif;
}

.wrapper{
    width: 1020px;
    margin: 0 auto;
}

/*PORTFOLIO*/
.portfolio-container{
    height: 864px;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
    

}

.portfolio-container h2 {
    color:  #666d89;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    line-height: 18px;
    margin-left: 40px;
    padding-top: 60px;
}

.portfolio-container p {
    width: 940px;
    color:  #767e9e;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin-left: 40px;
    padding-top: 30px;
}

.portfolio-buttons{
    display: flex;
    flex-wrap:wrap;
    justify-content: left;
    margin-left: 40px;


}

.button {
    background-color: #2d303a;
    border: 1px solid #666d89;
    border-radius: 5px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    text-align: left;
    margin: 20px 10px 20px 0;
}

.button:hover{
    cursor: pointer;
    color: #dedede;
    border: 1px solid #dedede;

}

.white {
    color:#dedede;
    border: 1px solid #dedede;
    width: 29px;
    text-align: center;
    height: 22px;

}

.web{
    width: 78px;
    height: 22px;
    text-align: center;
}

.graphic {
    width: 93px;
    height: 22px;
    text-align: center;
}

.art{
    width: 57px;
    height: 22px;
    text-align: center;
}

.portfolio-pictures{
    margin-left: 40px;
    margin-right: 40px;
}

.layout-4-columns{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.picture img {
    margin: 10px 20px 10px 0;
}

/*ABOUT US*/

.about-us-container{
    background-color:  #f2f2f2;
    height: 722px;
    border-bottom: 6px solid #fff;
}

.about-us-container h2{
    padding-top: 65px;
    margin-left: 40px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
}

.about-us-container p{
    padding-top: 35px;
    margin-left: 40px;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    text-align: left;
    margin-right: 40px;
   
}

.layout-3-columns {
    display: flex;
    justify-content: center;
    margin-right: 40px;
    margin-left: 40px;
  
}

.about{
    color: #767e9e;
    margin-left: 15px;
}

.about h4{
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    text-align: left;
    margin-top: 20px;

}

.about p {
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
    margin-left: 0px;
    margin-top: -20px;
    
}

.social-links{
    margin-top: -30px;
}

.social-links a{


}

.social-links img:hover{
    cursor: pointer;
    filter:  contrast(300%) sepia(50%) saturate(50%) brightness(50%);

