/*UTILITY*/

body{
    margin: 0;
    height: 100vh;
    font-family: "Lato", sans-serif;
    
}

.wrapper{
    width: 1020px;
    margin: 0 auto;
    
}

/*HEADER*/
.header{
    height: 95px;
}

.header-container{
    height: 89px;
    background-color: #2d303a;
    color: #fff;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    overflow:hidden;
    border-bottom: solid #323746 6px;
}

.navigation{
    overflow: hidden;
    padding-right: 25px;
    padding-top: 10px;
    padding-left: 1.5em;
    list-style-type: none;
}

.navigation li{
    font-size: 12px;
    line-height: 7px;
    letter-spacing: -0.015em;
    font-weight: 700;
    padding: 15px;
    float: left;
    position: relative;
    text-decoration: none;
}

.navigation li a{
    text-decoration: none;
    color: #fff;
}


.navigation li a:hover{
    color: #f06c64;
    cursor: pointer;
}


.navigation li:not(:first-child)::before{
    content: ".";
    position: absolute;
    left: -1px;
    top: 10px;
    opacity: 50%;
    font-size: 16px;
    font-weight: 700;
    color: #666d89;
    display: inline-block;
}

.logo{
    padding-left: 40px;
    font-size: 25px;
    line-height: 7px;
    font-weight: 700;
    float: left;
    letter-spacing: -0.02em;
}

.logo a{
    text-decoration: none;
    color: #fff;
}

.logo a:hover{
    cursor: pointer;
    color: #f06c64;
}


#active{
    color: #f06c64;
    
}

/*SLIDER*/

.slider-container{
    height: 594px;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    overflow:hidden;
}

.fas{
    color: #ca4549;
    padding: 15px 40px;
    font-size: 2rem;
    float: left;
}
.slider-container a:hover .fas{
    color:#fa898d;
    cursor: pointer;
}

.vertical{
    float: left;
    margin-left: -61px;
    margin-top: -8px;;
    margin-right: 0.02px;
    
}

.horizontal{
    float: left;
    margin-right: -60px;
    margin-top: -8px;
}

/*SERVICES*/

.services-container{
    height: 489px;
    background-color: #f2f2f2;
    border-bottom: solid 6px #fff;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
    overflow:hidden;
}

.services-container h2 {
    font-size: 30px;
    line-height: 27px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    margin-left: 40px;
    margin-top: 65px;
    letter-spacing: -0.002em;
}

.intro {
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    text-align: left;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: -5px;
    font-weight: 300;
    
    
}

.layout-3-column{
    display: flex;
    margin: 40px;
    color: #767e9e;
    
    
}

.service h3{
    font-size: 18px;
    line-height: 20px;
    font-weight: 900;
    text-align: left;
    float:left;
}
.head1 {
    margin-left: 19px;
    margin-top: -12px;
    margin-bottom: 9px;
    
}

.head2{
    margin-left: 20px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.head3{
    margin-left: 19px;
    margin-top: -12px;
    margin-bottom: 10px;
}

.head4{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.head5{
    margin-left: 20px;
    margin-top: -12px;
    margin-bottom: 10px;
}

.head6{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.service p {
    width: 218px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
    text-align: left;
    overflow: hidden;
   
    
}

.par1{
    margin-left: 80px;
    
}

.par2{
    margin-left: 80px;
   
}

.par3{
    margin-left: 100px;
    
   
}

.par4{
    margin-left: 100px;
   
   
}

.par5{
    margin-left: 105px;
    letter-spacing: 0.02em;
    
}

.par6{
    margin-left: 105px;
   
}

.icon-round{
    float: left;
   
}

.icon1{
    margin-top: -8px;
    margin-left: 1px;
}

.icon2{
    margin-top: 19px;
    margin-left: 1px;
}

.icon3{
    margin-top: -8px;
    margin-left: 22px;
}
.icon4{
    margin-top: 19px;
    margin-left: 22px;
}

.icon5{
    margin-top: -8px;
    margin-left: 24px;
}

.icon6{
    margin-top: 17px;
    margin-left: 24px;
}


